body {
  font-family: arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 20px;
  text-align: left;
  border-bottom: 1px moccasin solid;
  padding-bottom: 0.4em;
}

blockquote {
  width: auto;
  overflow: auto;
  background-color: lightgray;
  padding: 1em;
  margin: 1em auto;
  text-align: left !important;
}

/* 
:inline-block demo for
dmvjpg.github.io/blocks.html
*/

.test-box {
  width: 100%;
}

.no-whitespace {
  font-size: 0;
}

.container p {
  font-size: 15px;
  line-height: 20px;
}

.box, .box-moving {
  font-size: 15px !important;
  display: inline-block;
  overflow: hidden;
position: relative;
  background-color: crimson;
  height: 100px;
  width: 100px;
}

.box:hover, .box-moving:hover {
  background-color: gold;
}
